@page
@model IndexModel
@{
    ViewData["Title"] = "Alans Covid-Free Events (bring you own mask)";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Alan Weik 2021</a>.</p>
</div>
