@page
@model IndexModel
@{
    ViewData["Title"] = "Alans Covid-Free Events";
}

<container class="cont">

<div class="text-center">
    <h1 class="display-4">Welcome to Alans Covid-Free Events <br />(bring you own mask)</h1><br />

    <a asp-page="./ShowEvents">Register</a>
    <a asp-page="./ShowEvents">Log In</a>

</div>
</container>
