@page
@model ASP.NET_Inlämningsuppgift1.Pages.MyEventsModel

@{
    ViewData["Title"] = "MyEvents";
}

<h1>My Events</h1>

<table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Location</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Attendee.Events)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Place)</td>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
            </tr>
        }
    </tbody>
</table>